body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #000;
  height: 100%;
}

canvas {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}
